// scss/styles.scss

//import
@import "@primer/css/buttons/index.scss";

// define variables
// colors
$btn-color: #1a7f37;
$success: $btn-color;
$link: #0969da;
$accent: $link;
$fgcolor: #1f2328;
$fgmuted: #59636e;
$danger: #d1242f;
$white: #ffffff;

//borders
$border-color: #d1d9e0;
